<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="google-site-verification" content="eO_0GwtJVgg8rgrM_VCnoqRkNbI-sU82WjPdjeAkOIk" />
   	<title>Resume - Kevin Stewart</title>
   	<meta name="author" content="Kevin Stewart" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="container">
	<div class="header">
	    <h1><a href="/">Kevin Stewart</a></h1>
</div>
<!-- end header -->

<br clear="all" />

<blockquote>The majority of my experience is in designing, building and releasing Web applications, services and Internet-enabled desktop applications. My teams have ranged as small as 3 up to an entire development organization of 45 people. As a manager, I am experienced in leading cross-functional teams of front-end Web developers, software engineers, testers and operations engineers.</blockquote>
		

<div class="post">
  {{content}}
</div>


<br clear="all" />
        
		<div class="copyright">
            <p>&copy; kevin stewart. Powered by <a href="http://pages.github.com">GitHub Pages</a> using the <a href="http://powazek.com/depo-skinny">DePo Skinny Theme</a>.</p>
		</div>

	</div> <!-- end container -->

</body>
</html>

