<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="google-site-verification" content="eO_0GwtJVgg8rgrM_VCnoqRkNbI-sU82WjPdjeAkOIk" />
   	<title>re: engineering management</title>
   	<meta name="author" content="Kevin Stewart" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="container">
	<div class="header">
	    <h1>
			<a href="/">re: engineering management</a><br /> 
			<span>notes on software development, leading teams and changing the way we work</span>
		</h1>
	</div>
<!-- end header -->


<div class="post">
  {{content}}
</div>


<br clear="all" />

    <div class="footer">
		
		    <div>
    			<p><strong>About</strong></p>
    			<p><strong>re: engineering management</strong> is the professional blog of kevin stewart.</p>
		    </div>
		    <div>
    			<p><strong> </strong></p>
		    </div>
		    <div class="last">
		    	<p><strong><a href="/archives.html">Archives</a></strong></p>
    			<p><strong><a href="/resume.html">Resume</a></strong></p>
		    </div>
	
	    </div><!-- end footer -->

        <br clear="all" />
        
		<div class="copyright">
			<p>The opinions expressed on this blog are mine alone and do not represent the opinions of whoever else has the ability to directly deposit into my bank account.</p>
            <p>&copy; kevin stewart. Powered by <a href="http://pages.github.com">GitHub Pages</a> using the <a href="http://powazek.com/depo-skinny">DePo Skinny Theme</a>.</p>
		</div>

	</div> <!-- end container -->

</body>
</html>

