---
layout: base.njk
title: Portfolio - Kevin Stewart
keywords: resume, cv, about, personal, profile, portfolio, kevin stewart
description: This is the personal website of Kevin Stewart.
---
{# This Content will be rendered inside the `src/_includes/partials/_about.njk` file. #}
<p>Kevin Stewart is an engineering executive focused on building teams to build products. He has helped shape the engineering culture at a number of startups, digital agencies and cloud companies. Kevin is particularly experienced in leading remote and distributed teams to consistently deliver quality products. Although he currently resides in Seattle, Kevin is a lifelong New Yorker with dreams of relocating to a sunny island in the Caribbean.</p>
